.csp-controls-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	margin-bottom: 10px;
}

.csp-controls-btn {
	background-color: rgb(171, 241, 242);
	width: 40px;
	height: 25px;
	
}
.csp-controls-btn:nth-child(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


.csp-controls-btn:nth-last-child(1) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}