.cspControlsContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	margin-bottom: 10px;
}

.cspControlsBtn {
	background-color: rgb(171, 241, 242);
	width: 40px;
	height: 25px;
}

.cspControlsBtn:nth-child(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.cspControlsBtn:nth-last-child(1) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}