#root {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;
	
}

.appContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 95%;
	margin: 5px;
}

.component {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	opacity: 0;
	animation: fadeIn 0.25s ease-in-out forwards;
}
.component.driftAway {
	opacity: 1;
	animation: fadeOut 0.25s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
	  opacity: 0;
	  transform: translateX(100%);
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  @keyframes fadeOut {
	from {
	  opacity: 1;
	  transform: translateX(0);
	}
	to {
	  opacity: 0;
	  transform: translateX(-100%);
	}
  }
  
.mBtn {
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	border: solid black 1px;
}